@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/proxima-nova-bold.woff2) format('woff2'),
       url(../fonts/proxima-nova-bold.woff) format('woff');
}

@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/proxima-nova-regular.woff2) format('woff2'),
       url(../fonts/proxima-nova-regular.woff) format('woff');
}

@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/proxima-nova-semibold.woff2) format('woff2'),
       url(../fonts/proxima-nova-semibold.woff) format('woff');
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-ExtraBold.woff2) format('woff2'),
       url(../fonts/Raleway-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Medium.woff2) format('woff2'),
       url(../fonts/Raleway-Medium.woff) format('woff');
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-SemiBold.woff2) format('woff2'),
       url(../fonts/Raleway-SemiBold.woff) format('woff');
}

/* Глобальные переменные */
:root {
  --primary-color: green();
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  position: relative;
  width: 1600px;
  height: 4289px;
  margin: auto;
  background: #FFFFFF;

  .header {
    background-image: url("../img/background-header/Bg@2x.svg");
    height: 810px;

    .header__logo {
      position: absolute;
      width: 78px;
      height: 100px;
      left: 224px;
      top: 32px;

      .header__logo-img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url("../img/logo-salt/logo-salt-2x.svg");
      }
    }

    .header__nav {
      position: absolute;
      width: 574px;
      height: 26px;
      left: 802px;
      top: 80px;

      .header__menu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        gap: 28px;

        position: absolute;
        width: 570px;
        height: 18px;
        left: 4px;
        top: 0;

        .menu__item {
          height: 18px;

          font-family: Proxima Nova;
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 18px;
          /* identical to box height, or 120% */

          color: #FFFFFF;

          /* Inside auto layout */
          flex: none;
          flex-grow: 0;

          &._home {
            width: 45px;
            order: 0;
          }

          &._products {
            width: 81px;
            order: 1;
          }

          &._services {
            width: 70px;
            order: 2;
          }

          &._resources {
            width: 88px;
            order: 3;
          }

          &._about {
            width: 52px;
            order: 4;
          }

          &._contact {
            width: 94px;
            order: 5;
          }
        }
      }

      .header__active {
        position: absolute;
        width: 52px;
        height: 0;
        left: -2px;
        top: 26px;

        border: 2px solid #FF8B00;
      }
    }

    .header__authentication {
      position: absolute;
      width: 552px;
      height: 55px;
      left: 306px;
      top: 261px;

      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 55px;
      /* identical to box height, or 100% */


      color: #FFFFFF;
    }

    .header__salt {
      position: absolute;
      width: 548px;
      height: 90px;
      left: 306px;
      top: 328px;

      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      /* or 188% */


      color: #FFFFFF;
    }

    .header__button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      //padding: 4px 40px;
      gap: 10px;

      position: absolute;
      width: 174px;
      height: 53px;
      left: 306px;
      top: 462px;

      background: #FF8B00;
      border-radius: 4px;

      span {
        width: 91px;
        height: 45px;
        padding: 4px 40px;

        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 45px;
        /* identical to box height, or 321% */


        color: #FFFFFF;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }

    .header__logo-twitter {
      position: absolute;
      width: 151px;
      //height: 124px;
      height: 125px;
      left: 1078px;
      top: 332px;

      .logo-twitter {
        position: absolute;
        left: 0.4%;
        right: 0.34%;
        top: 0.73%;
        bottom: 1.22%;

        //background: #FFFFFF;
        background: url("../img/logo-twitter/Twitter@2x.svg");
      }
    }

    .header__polygon-one {
      position: absolute;
      width: 19px;
      height: 22px;
      left: 1527px;
      top: 335px;

      background: #FF8B00;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

    .header__polygon-two {
      position: absolute;
      width: 19px;
      height: 22px;
      left: 1527px;
      top: 369px;

      background: url("../img/polygon-stroke/Polygon (Stroke)@2x.svg");
    }

    .header__polygon-three {
      position: absolute;
      width: 19px;
      height: 22px;
      left: 1527px;
      top: 404px;

      background: url("../img/polygon-stroke/Polygon (Stroke)@2x.svg");
    }

    .header__find-out-more {
      position: absolute;
      width: 116px;
      height: 20px;
      left: 742px;
      top: 650px;

      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      /* identical to box height, or 133% */

      color: #FFFFFF;
    }

    .header__union {
      position: absolute;
      width: 62px;
      height: 71px;
      left: 769px;
      top: 689px;

      background: url("../img/union/Union@2x.svg");
    }
  }

  .container {
    width: 1600px;

    .container__1 {
      position: absolute;
      width: 255px;
      height: 118px;
      left: 346px;
      top: 943px;
      text-align: center;

      .container__span {

        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 68px;
        /* identical to box height, or 113% */


        color: #7050E5;

      }

      .container__p_1 {
        position: absolute;
        width: 255px;
        height: 36px;
        //left: 696px;
        top: 82px;

        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        /* or 112% */

        text-align: center;
        letter-spacing: -0.02em;
        text-transform: uppercase;

        color: #7050E5;
      }
    }

    .container__2 {
      position: absolute;
      width: 213px;
      height: 118px;
      left: 693px;
      top: 943px;

      .container__group-16 {
        text-align: center;

        .container__span_2 {

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 68px;
          /* identical to box height, or 113% */

          color: #7050E5;
        }

        .container__p_2 {
          position: absolute;
          width: 213px;
          height: 36px;
          //left: 696px;
          top: 82px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;
          /* or 112% */

          text-align: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;

          color: #7050E5;
        }
      }
    }

    .container__3 {
      position: absolute;
      width: 247px;
      height: 118px;
      left: 998px;
      top: 943px;

      .container__group-17 {
        text-align: center;

        .container__span_3 {

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 68px;
          /* identical to box height, or 113% */

          color: #7050E5;
        }

        .container__p_3 {
          position: absolute;
          width: 247px;
          height: 36px;
          //left: 696px;
          top: 82px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;
          /* or 112% */

          //text-align: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;

          color: #7050E5;
        }
      }
    }

    .container__what-we-do {
      position: absolute;
      width: 1600px;
      height: 1215px;
      left: 0;
      top: 1192px;

      background: #F8F8F8;

      .container__union {
        position: absolute;
        width: 46px;
        height: 46px;
        left: 1257px;
        top: 126px;

        .container__rectangle_2 {
          position: absolute;
          width: 46px;
          height: 12px;
          left: 17px;
          top: 17px;

          background: #FF8B00;
          transform: rotate(90deg);
        }

        .container__rectangle_3 {
          position: absolute;
          width: 46px;
          height: 12px;

          background: #FF8B00;
        }
      }

      .container__h1 {
        position: absolute;
        width: 337px;
        height: 72px;
        left: 901px;
        top: 145px;
        //top: 1337px;

        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        /* identical to box height, or 120% */

        color: #7050E5;

      }

      .container__device-authentication {
        position: absolute;
        width: 271px;
        height: 316px;
        left: 304px;
        top: 288px;

        .container__illustration {
          position: absolute;
          width: 142px;
          height: 146px;
          left: 39px;

          .container__illustration-img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            background: url("../img/container-device-authentication-illustration/Rectangle 1252@2x.svg");
          }
        }

        .container__h3 {
          position: absolute;
          width: 215px;
          height: 20px;
          top: 174px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          /* identical to box height, or 111% */

          letter-spacing: -0.02em;
          text-transform: uppercase;

          color: #7050E5;
        }

        .container__p_4 {
          position: absolute;
          width: 271px;
          height: 114px;
          top: 202px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          /* or 127% */

          letter-spacing: -0.008em;

          color: #878787;
        }
      }

      .user-authentication {
        position: absolute;
        width: 241px;
        height: 263px;
        left: 675px;
        top: 288px;

        .user-authentication__illustration {
          position: absolute;
          width: 160px;
          height: 150px;
          left: 40px;

          .user-authentication__img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            background: url("../img/container-device-user-authentication/Rectangle 1253@2x.svg");
          }
        }

        .user-authentication__h3 {
          position: absolute;
          width: 241px;
          height: 20px;
          top: 178px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          /* identical to box height, or 111% */

          letter-spacing: -0.02em;
          text-transform: uppercase;

          color: #7050E5;
        }

        .user-authentication__p {
          position: absolute;
          width: 241px;
          height: 57px;
          top: 206px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          /* or 127% */

          letter-spacing: -0.02em;

          color: #878787;
        }
      }

      .transaction-authentication {
        position: absolute;
        width: 281px;
        height: 319px;
        left: 1016px;
        top: 285px;

        .transaction-authentication__illustration {
          position: absolute;
          width: 150px;
          height: 150px;
          left: 57px;

          .transaction-authentication__img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            background: url("../img/container-transaction-authentication-illustration/Rectangle@2x.svg");
          }
        }

        .transaction-authentication__h3 {
          position: absolute;
          width: 274px;
          height: 20px;
          //left: 1016px;
          top: 177px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          /* identical to box height, or 111% */

          letter-spacing: -0.02em;
          text-transform: uppercase;

          color: #7050E5;
        }

        .transaction-authentication__p {
          position: absolute;
          width: 281px;
          height: 114px;
          //left: 1016px;
          top: 205px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          /* or 127% */

          letter-spacing: -0.02em;

          color: #878787;

        }
      }

      .contemporary-authentication-methods {
        position: absolute;
        width: 271px;
        height: 419px;
        left: 306px;
        top: 676px;

        .contemporary-authentication-methods__illustration {
          position: absolute;
          width: 132px;
          height: 139px;
          left: 56px;

          .contemporary-authentication-methods__img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            background: url("../img/container-contemporary-authentication-methods-illustration/Vector Smart Object_3@2x.svg");
          }
        }

        .contemporary-authentication-methods__h3 {
          position: absolute;
          width: 238px;
          height: 40px;
          top: 164px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          /* or 111% */

          letter-spacing: -0.02em;
          text-transform: uppercase;

          color: #7050E5;
        }

        .contemporary-authentication-methods__p {
          position: absolute;
          width: 271px;
          height: 209px;
          //left: 306px;
          top: 210px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          /* or 127% */

          //letter-spacing: -0.008em;
          letter-spacing: -0.02em;

          color: #878787;
        }
      }

      .hsm-solutions {
        position: absolute;
        width: 241px;
        height: 278px;
        left: 675px;
        top: 685px;

        .hsm-solutions__illustration {
          position: absolute;
          width: 191px;
          height: 127px;
          left: 37px;

          .hsm-solutions__img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            background: url("../img/hsm-solutions-illustration/Vector Smart Object_5@2x.svg");
          }
        }

        .hsm-solutions__h3 {
          position: absolute;
          width: 241px;
          height: 20px;
          //left: 675px;
          top: 155px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          /* identical to box height, or 111% */

          letter-spacing: -0.02em;
          text-transform: uppercase;

          color: #7050E5;
        }

        .hsm-solutions__p {
          position: absolute;
          width: 241px;
          height: 95px;
          top: 183px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          /* or 127% */

          letter-spacing: -0.02em;

          color: #878787;
        }
      }

      .cloud-iot-security {
        position: absolute;
        width: 266px;
        height: 259px;
        left: 1016px;
        top: 704px;

        .cloud-iot-security__illustration {
          position: absolute;
          width: 210px;
          height: 108px;
          left: 29px;

          .cloud-iot-security__img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            background: url("../img/container-cloud-iot-security-illustration/Ellipse 667@2x.svg");

          }
        }

        .cloud-iot-security__h3 {
          position: absolute;
          width: 194px;
          height: 20px;
          top: 136px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          /* identical to box height, or 111% */

          letter-spacing: -0.02em;
          text-transform: uppercase;

          color: #7050E5;
        }

        .cloud-iot-security__p {
          position: absolute;
          width: 266px;
          height: 95px;
          top: 164px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          /* or 127% */

          letter-spacing: -0.02em;

          color: #878787;

        }
      }
    }

    .container__product-spotlight {
      position: absolute;
      width: 1600px;
      height: 655px;
      left: 0;
      top: 2407px;

      .product-spotlight__h2 {
        position: absolute;
        width: 317px;
        height: 47px;
        left: 160px;
        top: 209px;

        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        /* or 138% */

        color: #7050E5;

      }

      .product-spotlight__p {
        position: absolute;
        width: 455px;
        height: 55px;
        left: 160px;
        top: 271px;

        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        /* or 140% */

        letter-spacing: -0.02em;

        color: #878787;
      }

      .product-spotlight__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        position: absolute;
        width: 171px;
        height: 44px;
        left: 160px;
        top: 364px;

        background: #FF8B00;
        border-radius: 4px;

        .product-spotlight__span {
          width: 77px;
          height: 18px;

          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          /* identical to box height, or 129% */

          color: #FFFFFF;

          /* Inside auto layout */

          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }

      .product-spotlight__msign-connected-token {
        position: absolute;
        width: 724px;
        height: 444px;
        left: 739px;
        top: 114px;

        .msign-connected-token__video-player {

        }

        .msign-connected-token__group-20 {
          position: absolute;
          width: 425px;
          height: 169px;
          left: 150px;
          top: 173px;

          .msign-connected-token__union {
            position: absolute;
            width: 77px;
            height: 77px;
            left: 174px;

            .msign-connected-token__polygon-5 {
              position: absolute;
              width: 0;
              height: 0;
              top: 25px;
              left: 31px;

              border-top: 12px solid transparent;
              border-left: 20px solid white;
              border-bottom: 12px solid transparent;
            }

            .msign-connected-token__ellipse-668 {
              position: absolute;
              width: 69px;
              height: 69px;

              border: 3px solid white;
              border-radius: 50%
            }
          }

          .msign-connected-token__p1 {
            position: absolute;
            width: 117px;
            height: 12px;
            left: 155px;
            top: 103px;

            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            /* or 133% */

            text-transform: uppercase;

            color: #FFFFFF;
          }

          .msign-connected-token__p2 {
            position: absolute;
            width: 427px;
            height: 38px;
            //left: 889px;
            top: 131px;

            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 38px;
            /* identical to box height, or 119% */

            text-transform: uppercase;

            color: #FFFFFF;
          }
        }

        .msign-connected-token__group-20_hidden {
          display: none;
        }
      }
    }
  }
}